// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Avenir', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #0b7f83;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/*Fonts sizes*/
$font-size-xs: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.3rem;
$font-size-lg: 1.8rem;
$font-size-xlg: 2rem;
$font-size-2xlg: 2.2rem;
$font-size-3xlg: 2.6rem;
$font-size-4xlg: 3rem;
